
.work-sans-normal {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.dark-2{
    color: #474747;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.section-description{
    font-size: 18px;
    color: #757575;
}
.text-center{
    text-align: center;
}
.secondary-bg{
   background-color: #FFF8F3;
}
/* header */
.header{
    background-image: url('images/developer.png'), url('images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}
/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
.nav-text-primary{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    margin-right: 50px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner-style */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 200px;
}
.banner-content{
    max-width: 580px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-weight: bold;
    font-size: 85px;
}
.banner-description{
    font-size: 18px;
}
.banner-profile-pic{
    width: 500px;
}
/* main style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}

/* about styles */
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 70px;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.item-description{
    font-weight: 600;
}
/* 2nd section style */
/* .second-content{
    display: flex;
    gap: 24px;
} */
.second-title{
    font-weight: bold;
    font-size: 35px;
    color: #181818;
    text-align: center;
}
.second-description{
    font-size: 18px;
    color: #757575;
    text-align: center;
    margin-bottom: 75px;
}
.w-items{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.head-items{
    font-weight: bold;
    font-size: 20px;
    color: #181818;
}
.pra-item{
    font-size: 16px;
    color: #757575;
}
/* resume style */
.resume-container{
    display: flex;
    gap: 24px;
}
.resume-colum-title{
    font-size: 30px;
    font-weight: bold;
    color: #474747;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}
.experience-sub-title{
    font-size: 24px; 
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 20px;
}
.experience-description, .experience-sub-title{
    color: #757575;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-cv{
    margin-top: 50px;
}

/* fooetr style */
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}